$pending-color: #336699;
$completed-color: #339966;
#month-tabs {
  border: 0;
  background: none;
  .not-all-completed {
    ul {
      padding: 0;
      border: 0;
      background: none;
      li {
        border: 0;
        background: #6699cc;
        &.ui-state-active {
          &.pending {
            background: $pending-color !important;
          }
          &.completed {
            background: $completed-color !important;
          }
        }
      }
    }
  }
}
.ui-tabs-panel {
  &.tab-content {
    background: #ffffff !important;
  }
}
.back-to-bookings {
  background: #6699cc !important;
  color: white !important;
  border: 1px solid #6699cc !important;
}
